@charset "utf-8";

.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 0;
    
}

.container .join_wrap {
    width: 470px;
    display: flex;
    flex-direction: column;
    gap: 48px;
}
.signup_con {
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.signup_con>div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.signup_con label {
    font-size: 28px;
    /* font-weight: 700; */
    font-family: var(--DM);
    font-style: italic;
  }


  .signup_con input[type="text"],
  .signup_con input[type="password"],
  .signup_con input[type="email"],
  .signup_con input[type="tel"],
  .signup_con input[type="number"] {
    width: 100%;
    background-color: transparent;
    border: 1px solid var(--grey40);
    color: var(--w-color);
    font-size: 16px;
    outline: none;
    padding: 19px 16px;
  }

  .signup_con input::placeholder {
    font-size: 20px;
  }

.join2_number{
    display: flex;
    align-items: center;
    padding: 8px 16px;
    border: 1px solid var(--grey40);
    gap: 8px;
}

.join2_number #join2_number_input,
.join2_number #join2_number_confirm_input{
    padding: 2px 0;
    border: none;
}


.join2_number button{
    white-space: nowrap;
    padding: 8px;
    background: none;
    border: none;
    color: var(--w-color);
    font-size: 20px;
    font-weight: 600;
    font-family: var(--pretendard);
}

.join2_terms{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.join2_terms li{
    border: 1px solid var(--grey40);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14.5px 12px;
}

  /* 기본 체크박스 숨기기 */
.join2_terms input[type="checkbox"] {
    display: none;
}

/* 사용자 정의 체크박스 디자인 */
.join2_terms label {
    position: relative;
    padding-left: 48px;
    cursor: pointer;
    font-family: var(--pretendard);
    font-style: normal;
}

.join2_terms .age_check,
.join2_terms .terms_check {
    font-size: 20px;
    font-weight: 600;

}


.join2_terms label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border: 1px solid var(--w-color);
    border-radius: 50%;
    background: transparent;
}

/* 체크된 상태 스타일 */


.join2_terms input[type="checkbox"]:checked+label::after {
    content: "";
    position: absolute;
    left: 4px;
    top: 50%;
    transform: translateY(-50%);
    width: 14px;
    height: 14px;
    background: var(--w-color);
    border-radius: 50%;
}

.join2_terms a{
    display: block;
    width: 24px;
}


.join2_go a{
    width: 100%;
    height: 58px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--main-red);
    border-radius: 10px;
    font-size: 20px;
    font-weight: 500;
}

